@import 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700';
/*reset*/
/* -------------------------------------------------------------- 
  
   Reset default browser CSS.
   
   Based on work by Eric Meyer:
   http://meyerweb.com/eric/tools/css/reset/index.html
   
-------------------------------------------------------------- */
/* v1.0 | 20080212 */
/* line 20, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 29, ../sass/_reset.scss */
body {
  background: #fff;
  line-height: 1;
}

/* line 33, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 46, ../sass/_reset.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 51, ../sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 54, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 59, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 64, ../sass/_reset.scss */
a img {
  border: none;
}

/* Apply basic typography styles */
/* -------------------------------------------------------------- 
   
   Set default typography based on Blueprint
   
   http://code.google.com/p/blueprintcss/
     
-------------------------------------------------------------- */
/* line 9, ../sass/_typography.scss */
body, input, textarea {
  color: #000;
  font: 12px Arial,sans-serif;
  line-height: 18px;
}

/* Headings
-------------------------------------------------------------- */
/* line 18, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  clear: both;
}

/* Text elements
-------------------------------------------------------------- */
/* line 26, ../sass/_typography.scss */
p {
  margin-bottom: 18px;
}

/* line 29, ../sass/_typography.scss */
ul {
  margin: 0 0 18px 2.5em;
}

/* line 32, ../sass/_typography.scss */
ol {
  margin: 0 0 18px 2.5em;
}

/* line 35, ../sass/_typography.scss */
ul {
  list-style: disc;
}

/* line 38, ../sass/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 41, ../sass/_typography.scss */
ol ol {
  list-style: upper-alpha;
}

/* line 44, ../sass/_typography.scss */
ol ol ol {
  list-style: lower-roman;
}

/* line 47, ../sass/_typography.scss */
ol ol ol ol {
  list-style: lower-alpha;
}

/* line 50, ../sass/_typography.scss */
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}

/* line 53, ../sass/_typography.scss */
dl {
  margin: 0 1.5em;
}

/* line 56, ../sass/_typography.scss */
dt {
  font-weight: bold;
}

/* line 59, ../sass/_typography.scss */
dd {
  margin-bottom: 18px;
}

/* line 62, ../sass/_typography.scss */
strong {
  font-weight: bold;
}

/* line 65, ../sass/_typography.scss */
cite, em, i {
  font-style: italic;
}

/* line 68, ../sass/_typography.scss */
blockquote {
  margin: 0 3em;
}

/* line 71, ../sass/_typography.scss */
blockquote em, blockquote i, blockquote cite {
  font-style: normal;
}

/* line 74, ../sass/_typography.scss */
pre {
  font: 11px Monaco, monospace;
  line-height: 18px;
  margin-bottom: 18px;
}

/* line 79, ../sass/_typography.scss */
code {
  font: 11px Monaco, monospace;
}

/* line 82, ../sass/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #333;
  cursor: help;
}

/* line 86, ../sass/_typography.scss */
ins {
  text-decoration: none;
}

/* line 90, ../sass/_typography.scss */
sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
}

/* line 97, ../sass/_typography.scss */
sup {
  bottom: 1ex;
}

/* line 100, ../sass/_typography.scss */
sub {
  top: .5ex;
}

/* Pullquotes
-------------------------------------------------------------- */
/* line 107, ../sass/_typography.scss */
blockquote.left {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  text-align: right;
  width: 33%;
}

/* line 114, ../sass/_typography.scss */
blockquote.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
  text-align: left;
  width: 33%;
}

/*

Adapt the following for use in your Child Themes when using
different font-sizes and line-heights

body, input, textarea {
    font: --px Arial,sans-serif;
    line-height:--px;
}
p, ul, ol, dd, pre {
    margin-bottom:--px;
}
pre, code {
	font:--px Monaco, monospace;
	line-height:--px;
}

All other styles can be overridden--or ignored!--in Child Theme stylesheets

*/
/* Apply a basic layout */
/*
LAYOUT: One-Column (Right) Fixed
DESCRIPTION: Two-column 950px fixed layout with one sidebar right of content
*/
/* line 6, ../sass/_2c-r-fixed.scss */
body {
  min-width: 960px;
}

/* line 9, ../sass/_2c-r-fixed.scss */
#header {
  position: relative;
}

/* line 12, ../sass/_2c-r-fixed.scss */
#branding {
  width: 940px;
  margin: 0 auto;
}

/* line 16, ../sass/_2c-r-fixed.scss */
#access {
  position: relative;
  overflow: hidden;
}

/* line 20, ../sass/_2c-r-fixed.scss */
.menu {
  width: 940px;
  margin: 0 auto;
}

/* line 24, ../sass/_2c-r-fixed.scss */
#main {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* line 30, ../sass/_2c-r-fixed.scss */
#container {
  width: 620px;
  float: left;
}

/* line 34, ../sass/_2c-r-fixed.scss */
#content {
  margin: 0 13px 0 10px;
  width: 580px;
  overflow: hidden;
}

/* line 40, ../sass/_2c-r-fixed.scss */
.main-aside {
  width: 300px;
  float: right;
  position: relative;
  right: 10px;
}

/* line 46, ../sass/_2c-r-fixed.scss */
#secondary {
  clear: right;
}

/* line 49, ../sass/_2c-r-fixed.scss */
#footer {
  clear: both;
}

/* line 52, ../sass/_2c-r-fixed.scss */
#subsidiary {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 57, ../sass/_2c-r-fixed.scss */
#subsidiary .aside {
  width: 300px;
  float: left;
  margin: 0 20px 0 0;
}

/* line 62, ../sass/_2c-r-fixed.scss */
#subsidiary #third {
  margin: 0;
}

/* line 65, ../sass/_2c-r-fixed.scss */
#siteinfo {
  clear: both;
  width: 940px;
  margin: 0 auto;
}

/*-------------------------------------*/
/* GENERAL DIV LAYOUT CHANGES */
/* line 75, ../sass/_2c-r-fixed.scss */
#main {
  padding: 30px 0 22px;
}

/* custom menus in sidebars think they are 940px */
/* line 82, ../sass/_2c-r-fixed.scss */
#secondary ul.menu, #primary ul.menu {
  width: auto;
}

/* line 87, ../sass/_2c-r-fixed.scss */
body.home div#content {
  width: 540px;
  margin: 0px 0px 0px 10px;
}

/* line 93, ../sass/_2c-r-fixed.scss */
body.home div#container {
  width: 580px;
}

/* line 98, ../sass/_2c-r-fixed.scss */
body.home div.main-aside {
  width: 360px;
}

/*header */
/* line 104, ../sass/_2c-r-fixed.scss */
#header-aside {
  margin: 0 auto;
  width: 940px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* line 111, ../sass/_2c-r-fixed.scss */
#branding #header-img {
  height: 103px;
  overflow: hidden;
  width: 519px;
  margin-left: 421px;
}

/* line 118, ../sass/_2c-r-fixed.scss */
#header-aside .widget_nav_menu {
  width: 400px;
  float: left;
}

/*MENU */
/* line 125, ../sass/_2c-r-fixed.scss */
#access {
  min-width: 960px;
}

/* Apply basic image styles */
/* -------------------------------------------------------------- 
   
   Default styles for Images
  
-------------------------------------------------------------- */
/* line 6, ../sass/_images.scss */
.entry-content .wp-post-image {
  border: 1px solid #ccc;
  float: right;
  margin: 0 0 20px 18px;
  padding: 5px;
}

/* line 12, ../sass/_images.scss */
.entry-content img {
  height: auto;
  margin: 0 0 18px 0;
  max-width: 100%;
}

/* line 18, ../sass/_images.scss */
.alignleft,
img.alignleft {
  float: left;
  margin-right: 20px;
}

/* line 23, ../sass/_images.scss */
.alignright,
img.alignright {
  display: block;
  float: right;
  margin-left: 20px;
}

/* line 29, ../sass/_images.scss */
.aligncenter,
img.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

/* line 35, ../sass/_images.scss */
.wp-caption {
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 18px;
  max-width: 96%;
  padding: 9px 5px 0;
}

/* line 42, ../sass/_images.scss */
.wp-caption img {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/_images.scss */
.wp-caption p.wp-caption-text {
  margin: 0;
  padding: 18px 5px;
}

/* line 51, ../sass/_images.scss */
.gallery {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0 22px 0;
}

/* line 58, ../sass/_images.scss */
.gallery-row {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0;
}

/* line 64, ../sass/_images.scss */
.gallery-item {
  overflow: hidden;
  float: left;
  margin: 0;
  text-align: center;
  list-style: none;
}

/* line 71, ../sass/_images.scss */
.gallery-icon {
  margin: 0 5px;
}

/* line 74, ../sass/_images.scss */
#content .gallery img {
  border: 1px solid #ccc;
  margin: 0;
  padding: 6px;
}

/* line 79, ../sass/_images.scss */
.gallery-item img, .gallery-item img.thumbnail {
  margin: 0 auto;
}

/* line 82, ../sass/_images.scss */
.gallery-caption {
  padding: 6px 6px 0;
}

/* line 86, ../sass/_images.scss */
.wp-caption-text,
.gallery-caption {
  color: #666;
  font-size: 13px;
  line-height: 18px;
}

/* line 91, ../sass/_images.scss */
.wp-smiley {
  /* Prevent the smileys from breaking line-height */
  max-height: 12px;
  margin: 0 !important;
}

/*

Adapt the following for use in your Child Themes when using
different font-sizes and line-heights

.entry-content img,
.wp-caption {
    margin-bottom:--px;
}
.wp-smiley {
    max-height:--px;
}

All other styles can be overridden--or ignored!--in Child Theme stylesheets

*/
/* Apply default theme styles and colors */
/* It's better to actually copy over default.css into this file (or link to a copy in your child theme) if you're going to do anything outrageous */
/* =Global Elements
-------------------------------------------------------------- */
/* line 5, ../sass/_default.scss */
body, input, textarea {
  font: 15px Georgia,serif;
  line-height: 22px;
}

/* line 10, ../sass/_default.scss */
pre, code {
  font: 14px Monaco, monospace;
  line-height: 22px;
}

/* line 14, ../sass/_default.scss */
blockquote {
  color: #666;
  font-style: italic;
}

/* line 18, ../sass/_default.scss */
table {
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 22px 0;
  text-align: left;
}

/* line 26, ../sass/_default.scss */
caption {
  text-align: left;
}

/* line 29, ../sass/_default.scss */
tr {
  border-bottom: 1px solid #ccc;
}

/* line 32, ../sass/_default.scss */
th, td {
  padding: 0.7em 0.7em;
}

/* line 35, ../sass/_default.scss */
hr {
  background-color: #ccc;
  border: 0;
  color: #ccc;
  height: 1px;
  margin-bottom: 22px;
}

/* =Header
-------------------------------------------------------------- */
/* line 48, ../sass/_default.scss */
#header {
  z-index: 2;
}

/* line 51, ../sass/_default.scss */
#branding {
  padding: 88px 0 44px 0;
}

/* =Menu
-------------------------------------------------------------- */
/* line 61, ../sass/_default.scss */
.skip-link {
  display: none;
}

/* line 64, ../sass/_default.scss */
#access {
  border-bottom: 1px solid #ccc;
  height: 32px;
  font-size: 13px;
  overflow: visible;
  z-index: 100;
}

/*** ESSENTIAL STYLES ***/
/* line 72, ../sass/_default.scss */
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 77, ../sass/_default.scss */
.sf-menu {
  line-height: 1.0;
}

/* line 80, ../sass/_default.scss */
.sf-menu ul {
  position: absolute;
  top: -999em;
  width: 10em;
  /* left offset of submenus need to match (see below) */
}

/* line 85, ../sass/_default.scss */
.sf-menu ul li {
  width: 100%;
}

/* line 88, ../sass/_default.scss */
.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */
}

/* line 91, ../sass/_default.scss */
.sf-menu li {
  float: left;
  position: relative;
}

/* line 95, ../sass/_default.scss */
.sf-menu a {
  display: block;
  position: relative;
}

/* line 100, ../sass/_default.scss */
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0;
  top: 2.5em;
  /* match top ul list item height */
  z-index: 99;
}

/* line 106, ../sass/_default.scss */
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}

/* line 110, ../sass/_default.scss */
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 10em;
  /* match ul width */
  top: 0;
}

/* line 115, ../sass/_default.scss */
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}

/* line 119, ../sass/_default.scss */
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 10em;
  /* match ul width */
  top: 0;
}

/*** THEMATIC SKIN ***/
/* line 125, ../sass/_default.scss */
.sf-menu {
  float: left;
}

/* line 128, ../sass/_default.scss */
.ie6 .sf-menu {
  margin-bottom: -1px;
}

/* line 131, ../sass/_default.scss */
.sf-menu a {
  padding: 9px 13px;
  text-decoration: none;
}

/* was .windows .sf-menu a  */
/* line 137, ../sass/_default.scss */
.sf-menu a {
  font-size: 12px;
  padding: 9px 13px 10px;
}

/* line 143, ../sass/_default.scss */
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  top: 32px;
  /* overriding essential styles */
}

/* line 146, ../sass/_default.scss */
.sf-menu ul ul {
  margin-top: 0;
}

/* line 149, ../sass/_default.scss */
.sf-menu ul a {
  border-bottom: none;
}

/* =Content
-------------------------------------------------------------- */
/* line 157, ../sass/_default.scss */
#main {
  clear: both;
  padding: 66px 0 22px 0;
}

/* line 161, ../sass/_default.scss */
.page-title {
  font-size: 13px;
  line-height: 18px;
  padding: 0 0 44px 0;
}

/* line 166, ../sass/_default.scss */
.attachment .page-title {
  font-style: italic;
}

/* line 169, ../sass/_default.scss */
.page-title a {
  color: #666;
  text-decoration: none;
}

/* line 174, ../sass/_default.scss */
.page-title a:active,
.page-title a:hover {
  color: #FF4B33;
}

/* line 177, ../sass/_default.scss */
.page-title span {
  font-style: italic;
}

/* line 180, ../sass/_default.scss */
.page-title .meta-nav {
  font-style: normal;
}

/* line 183, ../sass/_default.scss */
.hentry {
  padding: 0 0 22px 0;
}

/* line 186, ../sass/_default.scss */
.single .hentry {
  padding: 0;
}

/* line 189, ../sass/_default.scss */
.home #content .sticky {
  border: 1px solid #ccc;
  margin: 0 0 66px 0;
  padding: 22px 20px 0 20px;
}

/* line 194, ../sass/_default.scss */
.entry-title {
  font-family: Arial,sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  padding: 0 0 7px 0;
}

/* line 201, ../sass/_default.scss */
.entry-title a {
  color: #000;
  text-decoration: none;
}

/* line 206, ../sass/_default.scss */
.entry-title a:active,
.entry-title a:hover {
  color: #FF4B33;
}

/* line 209, ../sass/_default.scss */
.entry-meta {
  color: #666;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

/* line 217, ../sass/_default.scss */
.entry-meta .n {
  font-size: 11px;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* line 223, ../sass/_default.scss */
.entry-meta a {
  color: #666;
  text-decoration: none;
}

/* line 228, ../sass/_default.scss */
.entry-meta a:active,
.entry-meta a:hover {
  color: #FF4B33;
}

/* line 231, ../sass/_default.scss */
.entry-meta abbr {
  border: none;
  cursor: text;
  font-size: 11px;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* line 239, ../sass/_default.scss */
.entry-content {
  padding: 22px 0 0 0;
}

/* line 243, ../sass/_default.scss */
.entry-content table {
  margin-left: 1px;
}

/* line 246, ../sass/_default.scss */
.entry-content embed {
  margin: 0 0 22px 0;
}

/* line 249, ../sass/_default.scss */
.entry-utility {
  clear: both;
  color: #666;
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 44px 0;
}

/* line 256, ../sass/_default.scss */
.entry-utility a {
  color: #666;
  font-style: italic;
  text-decoration: none;
}

/* line 262, ../sass/_default.scss */
.entry-utility a:active,
.entry-utility a:hover {
  color: #FF4B33;
}

/* line 265, ../sass/_default.scss */
.edit-link {
  clear: both;
  display: block;
}

/* line 269, ../sass/_default.scss */
.page-link {
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 0 22px 0;
  padding: 22px 0 0 0;
  word-spacing: 0.5em;
}

/* line 277, ../sass/_default.scss */
.page-link a {
  border: 1px solid #ccc;
  color: #666;
  font-weight: normal;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

/* line 285, ../sass/_default.scss */
.page-link a:active,
.page-link a:hover {
  color: #FF4B33;
}

/* line 289, ../sass/_default.scss */
ul#links-page,
ul#archives-page {
  list-style: none;
  margin-left: 0;
  overflow: hidden;
}

/* line 294, ../sass/_default.scss */
li.content-column {
  float: left;
  margin-right: 20px;
  width: 45%;
}

/* line 299, ../sass/_default.scss */
.gallery {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0 22px 0;
}

/* line 306, ../sass/_default.scss */
.gallery .gallery-row {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0;
}

/* line 312, ../sass/_default.scss */
.gallery .gallery-item {
  overflow: hidden;
  float: left;
  margin: 0;
  text-align: center;
  list-style: none;
  padding: 0;
}

/* line 320, ../sass/_default.scss */
.gallery .gallery-item img, .gallery .gallery-item img.thumbnail {
  max-width: 89%;
  height: auto;
  padding: 1%;
  margin: 0 auto;
  border: none !important;
}

/* line 327, ../sass/_default.scss */
.gallery-caption {
  margin-left: 0;
}

/* line 331, ../sass/_default.scss */
.wp-caption-text,
.gallery-caption {
  font-size: 12px;
  line-height: 15px;
}

/* line 335, ../sass/_default.scss */
#author-info {
  margin: 0 0 44px 0;
  overflow: hidden;
}

/* line 339, ../sass/_default.scss */
#author-info .avatar {
  float: left;
  margin: .3em 1em 0 0;
}

/* =Attachments
-------------------------------------------------------------- */
/* line 349, ../sass/_default.scss */
.attachment-jpeg #container,
.attachment-png #container {
  width: 100%;
}

/* line 353, ../sass/_default.scss */
.attachment-jpeg #content,
.attachment-png #content {
  width: 930px;
}

/* line 357, ../sass/_default.scss */
.attachment-jpeg #comments,
.attachment-png #comments {
  width: 540px;
  overflow: hidden;
}

/* line 362, ../sass/_default.scss */
.attachment-jpeg .main-aside,
.attachment-png .main-aside {
  display: none;
}

/* =Navigation
-------------------------------------------------------------- */
/* line 370, ../sass/_default.scss */
.navigation {
  color: #666;
  font-size: 13px;
  line-height: 18px;
  margin: 0px 0 22px 0;
  overflow: hidden;
}

/* line 377, ../sass/_default.scss */
.navigation a {
  color: #666;
  font-style: italic;
  text-decoration: none;
}

/* line 383, ../sass/_default.scss */
.navigation a:active,
.navigation a:hover {
  color: #FF4B33;
}

/* line 386, ../sass/_default.scss */
.navigation .meta-nav {
  font-style: normal;
}

/* line 389, ../sass/_default.scss */
.nav-previous {
  float: left;
  width: 50%;
}

/* line 393, ../sass/_default.scss */
.nav-next {
  float: right;
  width: 50%;
  text-align: right;
}

/* line 398, ../sass/_default.scss */
#nav-above, #nav-below {
  width: 100%;
}

/* line 401, ../sass/_default.scss */
#nav-above {
  display: none;
}

/* line 404, ../sass/_default.scss */
.paged #nav-above {
  display: block;
  padding: 0 0 44px 0;
}

/* =Comments
-------------------------------------------------------------- */
/* line 413, ../sass/_default.scss */
#comments {
  clear: both;
  padding: 22px 0 0 0;
}

/* line 419, ../sass/_default.scss */
#comments,
#comments input,
#comments textarea {
  font-size: 13px;
  line-height: 18px;
}

/* line 423, ../sass/_default.scss */
#comments code {
  font-size: 12px;
  line-height: 18px;
}

/* line 427, ../sass/_default.scss */
#comments h3 {
  font-family: Arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  padding: 0 0 18px 0;
}

/* line 434, ../sass/_default.scss */
#comments-list {
  padding: 0 0 18px 0;
}

/* line 438, ../sass/_default.scss */
#comments-list ol,
#comments-list ul {
  list-style: none;
  margin: 0;
}

/* line 442, ../sass/_default.scss */
#comments-list ol {
  border: 1px solid #ccc;
  border-bottom: none;
  margin: 0 0 18px 0;
}

/* line 447, ../sass/_default.scss */
#comments-list li {
  background: #fafafa;
  border-bottom: 1px solid #ccc;
  padding: 18px 1.5em 0 1.5em;
  position: relative;
}

/* line 453, ../sass/_default.scss */
#comments-list li.alt {
  background: #fff;
}

/* line 456, ../sass/_default.scss */
#comments-list li.bypostauthor {
  background: #FFFFCC;
}

/* line 459, ../sass/_default.scss */
#comments-list ul li {
  border: 1px solid #ccc;
  margin: 0 0 18px 0;
}

/* line 463, ../sass/_default.scss */
#comments-list li .avatar {
  position: absolute;
  top: 22px;
  left: 1.5em;
  width: 36px;
  height: 36px;
}

/* line 470, ../sass/_default.scss */
#comments-list .comment-author {
  font-weight: bold;
  padding: 9px 0 0 46px;
}

/* line 474, ../sass/_default.scss */
#comments-list .comment-meta {
  color: #666;
  font-size: 11px;
  padding: 0 0 9px 46px;
}

/* line 479, ../sass/_default.scss */
#comments-list .comment-meta a {
  color: #666;
  font-style: italic;
  text-decoration: none;
}

/* line 485, ../sass/_default.scss */
#comments-list .comment-meta a:active,
#comments-list .comment-meta a:hover {
  color: #FF4B33;
}

/* line 488, ../sass/_default.scss */
.comment-reply-link {
  font-size: 11px;
  padding: 0 0 18px 0;
  text-align: right;
}

/* line 493, ../sass/_default.scss */
.comment-reply-link a {
  color: #666;
  font-style: italic;
  text-decoration: none;
}

/* line 499, ../sass/_default.scss */
.comment-reply-link a:active,
.comment-reply-link a:hover {
  color: #FF4B33;
}

/* line 502, ../sass/_default.scss */
.comment-navigation {
  font-weight: bold;
  padding: 0 0 18px 0;
  margin-right: 0.5em;
}

/* line 507, ../sass/_default.scss */
.comment-navigation a {
  border: 1px solid #ccc;
  color: #666;
  font-weight: normal;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

/* line 515, ../sass/_default.scss */
.comment-navigation a:active,
.comment-navigation a:hover {
  color: #FF4B33;
}

/* line 519, ../sass/_default.scss */
.comment-navigation a,
.comment-navigation span {
  margin-right: 0.5em;
}

/* line 522, ../sass/_default.scss */
#trackbacks-list .comment-content {
  position: absolute;
  left: -10000px;
}

/* line 526, ../sass/_default.scss */
#respond {
  background: #fff;
  margin-bottom: 22px;
  overflow: hidden;
  padding: 18px 0 0 0;
  position: relative;
}

/* line 533, ../sass/_default.scss */
#comments-list #respond {
  border-bottom: 1px solid #ccc;
  margin: 0 0 18px 0;
  padding: 18px 1.5em;
}

/* line 538, ../sass/_default.scss */
#comments-list ul #respond {
  border: 1px solid #ccc;
  margin: 0;
}

/* line 542, ../sass/_default.scss */
#cancel-comment-reply {
  font-size: 11px;
  position: absolute;
  top: 18px;
  right: 1.5em;
}

/* line 548, ../sass/_default.scss */
#cancel-comment-reply a {
  color: #666;
}

/* line 551, ../sass/_default.scss */
#respond .required {
  color: #FF4B33;
  font-weight: bold;
}

/* line 555, ../sass/_default.scss */
.form-section label {
  font-size: 11px;
}

/* line 558, ../sass/_default.scss */
.form-section input {
  margin: 0 0 18px 0;
  width: 98%;
}

/* line 562, ../sass/_default.scss */
.form-section textarea {
  width: 99%;
}

/* line 565, ../sass/_default.scss */
#form-allowed-tags p {
  color: #666;
  font-size: 11px;
  margin: 0;
}

/* line 570, ../sass/_default.scss */
#form-allowed-tags span {
  font-style: italic;
}

/* line 573, ../sass/_default.scss */
#form-allowed-tags code {
  font-size: 11px;
  line-height: normal;
}

/* line 577, ../sass/_default.scss */
.form-submit {
  padding: 18px 0 0 0;
  text-align: right;
}

/* line 581, ../sass/_default.scss */
.subscribe-to-comments {
  color: #666;
  float: left;
  font-size: 11px;
  margin: 0;
  padding: 18px 0 0 0;
}

/* line 588, ../sass/_default.scss */
.solo-subscribe-to-comments {
  color: #666;
  font-size: 11px;
  padding: 18px 0 0 0;
}

/* line 593, ../sass/_default.scss */
.comment_license {
  color: #666;
  clear: both;
  font-size: 11px;
  margin: 0;
  padding: 18px 0 0 0;
}

/* =Asides, Sidebars & Widget-Ready Areas
-------------------------------------------------------------- */
/* line 606, ../sass/_default.scss */
.aside,
.aside input {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 6px;
}

/* line 612, ../sass/_default.scss */
.aside pre,
.aside code {
  font-size: 12px;
  line-height: 18px;
}

/* line 616, ../sass/_default.scss */
.aside .current_page_item a {
  color: #FF4B33;
}

/* line 620, ../sass/_default.scss */
.aside h3 {
  font-size: 15px;
  font-style: italic;
  line-height: 22px;
}

/* line 625, ../sass/_default.scss */
.aside h3 a {
  text-decoration: none;
}

/* line 628, ../sass/_default.scss */
.aside caption {
  font-size: 11px;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* line 635, ../sass/_default.scss */
.aside ul {
  list-style: none;
  margin-left: 0;
}

/* line 639, ../sass/_default.scss */
.aside ul ul {
  list-style: disc;
  margin: 0 0 22px 20px;
}

/* line 643, ../sass/_default.scss */
.aside ul ul li {
  padding: 1px 0;
}

/* line 646, ../sass/_default.scss */
.aside ul ul ul {
  margin-bottom: 0;
}

/* line 650, ../sass/_default.scss */
.aside form,
.aside table {
  margin-bottom: 22px;
}

/* line 653, ../sass/_default.scss */
.aside table {
  border: none;
}

/* line 656, ../sass/_default.scss */
.aside thead {
  border: 1px solid #ccc;
}

/* line 659, ../sass/_default.scss */
.aside tbody {
  border: 1px solid #ccc;
}

/* line 662, ../sass/_default.scss */
.aside th, .aside td {
  border-right: 1px solid #ccc;
  padding: .25em .8em;
}

/* line 666, ../sass/_default.scss */
.aside tfoot tr {
  border: none;
}

/* line 669, ../sass/_default.scss */
.aside tfoot td {
  border-color: transparent;
}

/* line 672, ../sass/_default.scss */
.widget_tag_cloud {
  margin: 0 0 22px 0;
}

/* line 675, ../sass/_default.scss */
.aside #searchsubmit {
  display: none;
}

/*
    Main Asides
*/
/* line 681, ../sass/_default.scss */
.main-aside ul {
  padding: 0 20px;
}

/* line 686, ../sass/_default.scss */
.main-aside ul ul {
  padding: 0;
}

/* line 689, ../sass/_default.scss */
#primary {
  margin-bottom: 5px;
}

/*
    Content Asides
*/
/* line 695, ../sass/_default.scss */
#content .aside {
  margin: 0 0 22px 0;
  padding: 18px 0 0 0;
}

/* line 699, ../sass/_default.scss */
#content .aside ul {
  padding: 0 20px;
}

/* line 702, ../sass/_default.scss */
#content .aside h3 {
  padding: 0 0 7px 0;
}

/* line 705, ../sass/_default.scss */
#content .aside ul ul {
  padding: 0;
}

/*
    Footer Asides
*/
/* line 711, ../sass/_default.scss */
#subsidiary {
  padding: 33px 0 0 0;
}

/* =Footer
-------------------------------------------------------------- */
/* line 719, ../sass/_default.scss */
#footer {
  border-top: 1px solid #ccc;
  margin-top: 22px;
}

/* line 723, ../sass/_default.scss */
#siteinfo {
  color: #666;
  font-size: 11px;
  line-height: 18px;
  padding: 22px 0 44px 0;
}

/* line 729, ../sass/_default.scss */
#siteinfo a {
  color: #666;
}

/* line 733, ../sass/_default.scss */
#siteinfo a:active,
#siteinfo a:hover {
  color: #FF4B33;
}

/* =PageNavi
-------------------------------------------------------------- */
/* Using !important to override PageNavi CSS */
/* line 743, ../sass/_default.scss */
.wp-pagenavi {
  margin: 0 0 0 -.5em;
  padding: 0.5em 0;
}

/* line 747, ../sass/_default.scss */
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi span {
  border: 1px solid #ccc !important;
  color: #666666 !important;
  font-style: normal;
  margin: 0 .375em !important;
  padding: 0.5em 0.25em !important;
}

/* line 754, ../sass/_default.scss */
.wp-pagenavi a:visited {
  border: 1px solid #ccc !important;
  color: #666 !important;
}

/* line 758, ../sass/_default.scss */
.wp-pagenavi a:hover {
  border: 1px solid #ccc !important;
  color: #FF4B33 !important;
}

/* line 762, ../sass/_default.scss */
.wp-pagenavi a:active {
  border: 1px solid #ccc !important;
  color: #FF4B33 !important;
}

/* line 766, ../sass/_default.scss */
.wp-pagenavi span.pages {
  border: none !important;
  color: #666 !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 772, ../sass/_default.scss */
.wp-pagenavi span.current {
  border: none !important;
  color: #666 !important;
  font-weight: normal !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 779, ../sass/_default.scss */
.wp-pagenavi span.extend {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  color: #000000;
  margin: 2px;
  padding: 2px 4px;
}

/* Prepare theme for plugins */
/* -------------------------------------------------------------- 
   
   Default plugin styles for Thematic
  
-------------------------------------------------------------- */
/* =Ajax Edit Comments
-------------------------------------------------------------- */
/* line 10, ../sass/_plugins.scss */
.edit-comment {
  margin-bottom: 18px;
}

/* =PageNavi
-------------------------------------------------------------- */
/* Make sure to uncheck 'Use pagenavi-css.css' in the page-navi styles */
/* line 19, ../sass/_plugins.scss */
.wp-pagenavi {
  padding: 0.5em 0;
}

/* line 22, ../sass/_plugins.scss */
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi span {
  border: 1px solid #ccc;
  color: #666;
  font-style: normal;
  margin: 0 .375em;
  padding: 0.5em 0.5em;
}

/* line 29, ../sass/_plugins.scss */
.wp-pagenavi a:visited {
  border: 1px solid #ccc;
  color: #666;
}

/* line 33, ../sass/_plugins.scss */
.wp-pagenavi a:hover {
  border: 1px solid #ccc;
  color: #FF4B33;
}

/* line 37, ../sass/_plugins.scss */
.wp-pagenavi a:active {
  border: 1px solid #ccc;
  color: #FF4B33;
}

/* line 41, ../sass/_plugins.scss */
.wp-pagenavi span.pages {
  border: none;
  color: #666;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/_plugins.scss */
.wp-pagenavi span.current {
  color: #000;
}

/* line 50, ../sass/_plugins.scss */
.wp-pagenavi span.extend {
  color: #000;
}

/* =WordPress Stats
-------------------------------------------------------------- */
/* line 57, ../sass/_plugins.scss */
img#wpstats {
  /* hide WordPress Stats smiley */
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/* Custom CSS theme for this theme */
/*RESPONSIVE STUFF*/
/* line 3, ../sass/_beauville.scss */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*BRANDING AND LAYOUT*/
/* HEADER BITS /*

/* take the space above the main branding down a bit */
/* line 15, ../sass/_beauville.scss */
#branding {
  background: url(../images/title.png) 3px 42px no-repeat;
  clear: both;
  padding: 20px 0px 20px 0px;
}

/* line 21, ../sass/_beauville.scss */
#blog-title, #blog-description {
  left: -999px;
  position: absolute;
}

/* NEW WIDGET AREA ::HEADER ASIDE:: Called header menu in widgets */
/* line 28, ../sass/_beauville.scss */
#header-aside-wrapper {
  padding: 5px 0px 0px 0px;
  height: 30px;
  background: url(../images/3d-divider.png) bottom left repeat-x;
}

/* line 34, ../sass/_beauville.scss */
#header-aside a {
  text-decoration: none;
}

/* line 38, ../sass/_beauville.scss */
#header-aside a:hover {
  text-decoration: underline;
}

/* line 42, ../sass/_beauville.scss */
#header-aside li {
  display: inline;
  padding: 0px 4px 0px 3px;
}

/* line 47, ../sass/_beauville.scss */
#header-aside li:last-child {
  border-right: 0px;
}

/* line 51, ../sass/_beauville.scss */
.header-menu-item ul {
  margin: 0px;
}

/* styles for translation area */
/* line 57, ../sass/_beauville.scss */
#lang_sel {
  float: right;
  position: relative;
}

/* line 62, ../sass/_beauville.scss */
img.iclflag {
  display: inline;
}

/* TYPOGRAPHY in content area*/
/* line 69, ../sass/_beauville.scss */
.entry-content {
  font-size: 13px;
  line-height: 20px;
  padding-top: 10px;
}

/* line 75, ../sass/_beauville.scss */
.entry-title, .widgettitle, .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  font-family: Arial Black,Arial,sans-serif;
  font-weight: bold;
  padding: 10px 0 4px;
}

/* line 82, ../sass/_beauville.scss */
.entry-content h1 {
  font-size: 22px;
  line-height: 26px;
}

/* line 87, ../sass/_beauville.scss */
.entry-content h2 {
  font-size: 19px;
  line-height: 24px;
}

/* line 92, ../sass/_beauville.scss */
.entry-content h3 {
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
}

/* line 98, ../sass/_beauville.scss */
.entry-content h4 {
  font-size: 13px;
  padding: 6px 0 3px;
  text-transform: uppercase;
  line-height: 17px;
}

/* line 105, ../sass/_beauville.scss */
.entry-content h4 {
  letter-spacing: 0.05em;
}

/* line 109, ../sass/_beauville.scss */
.msie .entry-content h4 {
  letter-spacing: 0.03em;
}

/* line 113, ../sass/_beauville.scss */
.entry-content h5 {
  font-size: 13px;
  padding: 6px 0 3px;
  line-height: 17px;
}

/* line 119, ../sass/_beauville.scss */
.entry-content h6 {
  font-size: 11px;
  padding: 6px 0 3px;
  text-transform: uppercase;
  line-height: 14px;
}

/* line 126, ../sass/_beauville.scss */
.entry-content p {
  line-height: 20px;
}

/* line 130, ../sass/_beauville.scss */
.entry-content li {
  padding-bottom: 4px;
}

/* line 134, ../sass/_beauville.scss */
.entry-content td, .entry-content td p {
  font-size: 12px;
  line-height: 16px;
}

/* hack to remove extra padding after the last paragraph of each table cell - not IE */
/* line 141, ../sass/_beauville.scss */
.entry-content td p:last-child {
  margin-bottom: 0px;
}

/* line 145, ../sass/_beauville.scss */
h2.catlist {
  font-size: 19px;
  font-style: normal;
  line-height: 24px;
  font-family: Arial Black,Arial,sans-serif;
  font-weight: bold;
  padding: 10px 0 4px;
}

/* line 154, ../sass/_beauville.scss */
h2.catlist a {
  text-decoration: none;
}

/* line 158, ../sass/_beauville.scss */
blockquote {
  margin: 1em 3em;
}

/* line 162, ../sass/_beauville.scss */
p, ul, ol, dd, pre {
  margin-bottom: 18px;
}

/* line 167, ../sass/_beauville.scss */
sup, sub {
  font-size: 60%;
}

/* line 171, ../sass/_beauville.scss */
.ngg-gallery-thumbnail-box {
  height: 93px;
}

/* 
Musiques du monde THEME
red:D00745      
blue:2C3C5E      
yel:FAEE96
grey:eee

OLD
dark-blue:212f55
red:9c424b
yellow1:fffaa1
yellow2:cbc498
yellow3:dfe29a

Arts/musqiues
green:2BBCA2
blue:0E273D
white?

Literature
red:D2135A      
beige:CFC996      
blue:17305C

Cultures du monde
green:7AD747       
light green:E7FA12      
blue:255266       
beige:E2D549

Theatre marionette
green:0D9E81      
blue:1E223A

new pink  for Literature
pink AC1660     
beige:CFC996      
blue:17305C

*/
/* line 214, ../sass/_beauville.scss */
body {
  background-color: #fff;
}

/* line 219, ../sass/_beauville.scss */
#header {
  margin: 0px auto 0px auto;
  background-color: #eee;
}

/* line 225, ../sass/_beauville.scss */
#main {
  background: #fff;
}

/* line 229, ../sass/_beauville.scss */
#footer {
  border-top: 3px solid #AC1660;
  background-color: #eee;
}

/*TYPOGRAPHY*/
/*links */
/* line 238, ../sass/_beauville.scss */
a:link {
  color: #AC1660;
}

/* line 241, ../sass/_beauville.scss */
a:visited {
  color: #AC1660;
}

/* line 245, ../sass/_beauville.scss */
a:active,
a:hover {
  color: #666;
}

/* content */
/* line 251, ../sass/_beauville.scss */
.entry-content {
  color: #17305C;
}

/* all main headings */
/* line 256, ../sass/_beauville.scss */
.entry-title, .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  color: #AC1660;
}

/* line 260, ../sass/_beauville.scss */
.entry-content h4, .entry-content h6 {
  color: #17305c;
}

/* line 264, ../sass/_beauville.scss */
h2.catlist {
  color: #AC1660;
}

/*HEADER ASDIDE COLORS */
/* line 271, ../sass/_beauville.scss */
#header-aside, #header-aside a {
  color: #AC1660;
}

/* line 275, ../sass/_beauville.scss */
#header-aside li {
  border-right: 1px dotted #AC1660;
}

/* line 279, ../sass/_beauville.scss */
#header-aside a:hover {
  color: #17305C;
}

/* fix to stop header selected item taking on stlye of main menu */
/* line 284, ../sass/_beauville.scss */
#header-aside li.menu-item {
  background-color: transparent;
  color: #AC1660;
}

/* MENU */
/* line 292, ../sass/_beauville.scss */
#access .menu {
  height: 29px;
  background-color: #eee;
}

/* line 297, ../sass/_beauville.scss */
#access {
  border-bottom: 0px;
  background-color: #eee;
  border-bottom: 3px solid #AC1660;
  height: 31px;
}

/* line 305, ../sass/_beauville.scss */
.sf-menu li {
  background-color: #eee;
}

/* line 310, ../sass/_beauville.scss */
.sf-menu a, .sf-menu a:visited {
  color: #17305C;
}

/* line 314, ../sass/_beauville.scss */
.sf-menu {
  font-family: Arial Black,Arial,sans-serif;
}

/* line 318, ../sass/_beauville.scss */
.sf-menu a, .sf-menu, .sf-menu ul {
  border: 0px;
}

/* line 322, ../sass/_beauville.scss */
.sf-menu li {
  background: url(../images/3d-divider-vert.png) top left repeat-y;
}

/*no background URL for children*/
/* line 327, ../sass/_beauville.scss */
.sf-menu li li {
  background: #eee;
}

/* current page marker both for items with / without children */
/* line 332, ../sass/_beauville.scss */
.sf-menu li.current_page_item a, .sf-menu li.current_page_item, li.current-menu-parent, li.current-menu-parent a:visited {
  color: #fff;
  background: #AC1660;
}

/* dont make children of current page look selected */
/* line 338, ../sass/_beauville.scss */
.sf-menu li.current_page_item li a, .sf-menu li.current_page_item li, li.current-menu-parent li, li.current-menu-parent li a:visited {
  background: #eee;
}

/*general hover state */
/* line 343, ../sass/_beauville.scss */
.sf-menu li:hover, .sf-menu a:hover {
  color: #fff;
  background: #AC1660;
}

/* children of selected page hover states */
/* line 350, ../sass/_beauville.scss */
.sf-menu li.current_page_item li a:hover, .sf-menu li.current_page_item li:hover, li.current-menu-parent li:hover, li.current-menu-parent li a:hover {
  color: #fff;
  background: #AC1660;
}

/* parent item state when hovering over a sub-menu */
/* line 356, ../sass/_beauville.scss */
.menu ul.sf-menu li.sfHover a, .menu ul.sf-menu li.sfHover li.sfHover a {
  color: #fff;
}

/*stop the above cascading to sub menus*/
/* line 361, ../sass/_beauville.scss */
.menu ul.sf-menu li.sfHover li a, .menu ul.sf-menu li.sfHover li.sfHover li a {
  color: #17305C;
}

/* fix the hover states which have been changed. Both for sub and sub-sub menus */
/* line 366, ../sass/_beauville.scss */
.menu ul.sf-menu li.sfHover li a:hover, .menu ul.sf-menu li.sfHover li.sfHover li a:hover {
  color: #fff;
}

/* menu fixes for wordpress 3.3 */
/* line 372, ../sass/_beauville.scss */
.menu .sf-menu a[href="#"] {
  cursor: text;
}

/* make top level cursor a pointer */
/* line 377, ../sass/_beauville.scss */
.sf-menu > li:hover {
  cursor: default;
}

/* ASIDES */
/* line 384, ../sass/_beauville.scss */
.aside {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 389, ../sass/_beauville.scss */
.aside h3, .widgettitle {
  font-family: Arial Black,Arial,sans-serif;
  font-style: normal;
}

/* line 394, ../sass/_beauville.scss */
.aside a:active, .aside a:hover, .aside .current_page_item a {
  color: #666;
  text-decoration: none;
}

/* line 399, ../sass/_beauville.scss */
#primary {
  color: #17305C;
  padding: 5px 0px 0px 2px;
}

/* line 404, ../sass/_beauville.scss */
#primary .widgettitle {
  color: #17305C;
}

/* line 408, ../sass/_beauville.scss */
#primary a {
  color: #17305C;
}

/* line 412, ../sass/_beauville.scss */
#secondary {
  font-family: 'Droid Sans', sans-serif;
  border: 0px;
  background-color: #17305C;
  color: white;
  padding-top: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 423, ../sass/_beauville.scss */
#secondary a {
  color: white;
}

/* line 427, ../sass/_beauville.scss */
#secondary .widgettitle {
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
}

/* line 432, ../sass/_beauville.scss */
#secondary li.widgetcontainer {
  padding-top: 10px;
}

/* line 436, ../sass/_beauville.scss */
.page-template-info-page-php #secondary h4, .page-template-default #secondary h4 {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 4px;
}

/* register now botton */
/* on content pages it is #26 and #27 */
/* line 447, ../sass/_beauville.scss */
#custom_post_widget-26 a, #custom_post_widget-27 a {
  padding: 10px 15px;
  background-color: #AC1660;
  border-radius: 3px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* line 456, ../sass/_beauville.scss */
#custom_post_widget-26 a:hover, #custom_post_widget-27 a:hover {
  background-color: #D2135A;
}

/* line 460, ../sass/_beauville.scss */
#custom_post_widget-26 p, #custom_post_widget-27 p {
  margin-bottom: 0px;
}

/* facebook widget */
/* line 467, ../sass/_beauville.scss */
#secondary iframe {
  background-color: #fff;
}

/* IMAGES */
/* line 473, ../sass/_beauville.scss */
#secondary .wp-caption {
  border: 0px;
  padding: 0px;
}

/* line 479, ../sass/_beauville.scss */
#secondary img.size-thumbnail, #secondary img.size-medium {
  border: 4px solid #fff;
}

/* line 483, ../sass/_beauville.scss */
#secondary .wp-caption p.wp-caption-text {
  color: #eee;
  padding: 2px 0px 0px 0px;
}

/* line 488, ../sass/_beauville.scss */
.wp-caption p.wp-caption-text {
  padding: 5px 5px;
  line-height: 15px;
}

/* FORMS */
/* line 496, ../sass/_beauville.scss */
.gform_wrapper div.validation_error {
  background-color: #ff0;
  padding: 10px;
}

/* FOOTER ASIDE */
/* line 505, ../sass/_beauville.scss */
div#iconbox {
  padding: 3px;
}

/* line 510, ../sass/_beauville.scss */
#footer_icons .icon {
  padding-right: 6px;
  vertical-align: middle;
}

/* Driod font from Google */
