/*extra styles which initially were included in foor style-front-page file

/* HOME PAGE RIGHT COLUMN */

body.home div#content
{
width:540px;
margin: 0px 0px 0px 10px;
}

body.home div#container
{
width:580px;
}

body.home div.main-aside
{
width:360px;
}


/* HOME STYLING */




.home .aside h1,.home .aside h2,.home .aside h3,.home .aside h4,.home .aside h5,.home .aside h6 {
   font-family: 'Droid Sans', sans-serif;
   font-weight:700;
   padding: 10px 0 4px;
   letter-spacing:-0.05em;
   color: #fff;
}


.home .aside h1 {
    font-size: 24px;
	line-height:26px;
}

.home .aside h2 {
    font-size: 19px;
	line-height:24px;
}

.home .aside h3{
    font-size: 18px;
	font-style:normal;
	line-height:22px;
}

.home .aside h4,.home #secondary .widgettitle {
    font-size: 13px;
	padding: 6px 0 3px;
	text-transform:uppercase;
	line-height:17px;
	letter-spacing:0.05em;
}

.msie .home .aside h4 {
    letter-spacing:0.03em;
}

.home .aside h5 {
    font-size: 13px;
	padding: 6px 0 3px;
	line-height:17px;
}

.home .aside h6 {
    font-size: 11px;
	padding: 6px 0 3px;
	text-transform:uppercase;
	line-height:14px;
}


.home #primary {
font-family: 'Droid Sans', sans-serif;
background-color: #1E223A;
color: #eee;
ffont-weight: bold;
font-size: 15px;
line-height:130%;
padding:0px;
}

.home #primary .widgettitle{
color:#fff;
}

.home #primary a{
color:#fff;
}

.home #primary ul.xoxo
{
padding-left:0px;
}

.home #primary ul.xoxo li
{
padding-bottom:10px;
}

.home #primary blockquote{
margin:1em;
font-style:normal;
padding:1em;
background-color: #AC1660;
font-weight:bold;
letter-spacing: 1px;
color: #1E223A;
font-size: 14px;
line-height:130%;
}

.home #primary blockquote p:last-child 
{
margin-bottom: 0px;
}

/* background for home content area */
.home #wrapper, .home #main {
background-color: #1E223A;
}

.home #secondary{
font-family: 'Droid Sans', sans-serif;
font-weight: normal;
font-size: 13px;
line-height: 140%;
background-color: #AC1660;
color: #fff;
}

.home #secondary a{
text-decoration:none;
border-bottom:1px solid #D2135A;
}

.home #secondary a:hover{
border-bottom:1px solid #F5B3D2;
}

.home #secondary li.front-page-widget-rhs{
border-bottom:2px solid #1E223A;
padding-top:10px;
}

.home #secondary li.front-page-widget-rhs:last-child {
border-bottom:0px;
}

.home #secondary ul ul li {
    padding:0px 0px 3px 0px;
	line-height: 1.3;
}


/* register now button is custom post #28*/
.home #secondary #custom_post_widget-28 a{
background-color: #eee;
border: 1px solid #AC1660;
padding:7px 30px;
border-radius:3px;
text-decoration:none;
display:block;
text-align: center;
font-weight: 700;
color: #D2135A;
}


.home #secondary #custom_post_widget-28 a:hover{
background-color: #D2135A;
border: 1px solid #AC1660;
color: #EEE;
}


