/*
LAYOUT: One-Column (Right) Fixed
DESCRIPTION: Two-column 950px fixed layout with one sidebar right of content
*/


*,*:before,*:after
{
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box
}

body 
{
max-width:960px;
}

#header {
    position:relative;
}
#branding {
    width:100%;
    margin:0 auto;
}
#access {
    position:relative;
    overflow:hidden;
}
.menu {
    width:100%;
    margin:0 auto;
}
#main {
    width:100%;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
#container {
    width:59%;
    float:left;
}
#content {
    margin:0 13px 0 10px;
    overflow:hidden;
}

.main-aside {
    width:40%;
    float:right;
    position:relative;
    right:10px;
}
#secondary {
    clear:right;
}
#footer {    
    clear:both;
}
#subsidiary {
    width:940px;
    margin:0 auto;
    overflow:hidden;
}
#subsidiary .aside {
    width:300px;
    float:left;
    margin:0 20px 0 0;
}
#subsidiary #third {
    margin:0;
}
#siteinfo {
    clear:both;
    width:100%;
    margin:0 auto;
}

/*-------------------------------------*/

/* GENERAL DIV LAYOUT CHANGES */

#main {
    padding: 30px 0 22px;
}


/* custom menus in sidebars think they are 940px */
#secondary ul.menu, #primary ul.menu
{
width:auto;
}

body.home div#content
{
wwidth:540px;
wmargin: 0px 0px 0px 10px;
}


body.home div.main-aside
{
wwidth:360px;
}

/*header */

#header-aside{
margin: 0 auto;
width:940px;
font-family: Helvetica, Arial, sans-serif;
font-size:12px;
}

#branding #header-img {
height:103px;
overflow:hidden;
width:519px;
margin-left:421px;
}

#header-aside .widget_nav_menu{
width:400px;
float:left;
}

/*MENU */

#access {
min-width:960px;
}


